In [1]:
import sqlite3
from flask import Flask, request, g
from flask import render_template

conn = sqlite3.connect('Wikipedia-lsi.db')
c = conn.cursor()

In [2]:
c.row_factory = sqlite3.Row
title = 'Kennel'
rows = c.execute('SELECT * FROM Wikipedia WHERE title=?',[title]).fetchall()
titles = rows[0][3] # a string that needs to be parsed
titles

"['Cattery', 'Indian National Kennel Club', 'Breed type (dog)', 'Dog World (newspaper)', 'Lists of dogs']"

In [3]:
titles = titles.replace('[','').replace(']','').replace('\'','').split(',')
titles

['Cattery',
 ' Indian National Kennel Club',
 ' Breed type (dog)',
 ' Dog World (newspaper)',
 ' Lists of dogs']

In [4]:
urls = rows[0][4]   
urls

"['https://en.wikipedia.org/wiki/Cattery', 'https://en.wikipedia.org/wiki/Indian_National_Kennel_Club', 'https://en.wikipedia.org/wiki/Breed_type_(dog)', 'https://en.wikipedia.org/wiki/Dog_World_(newspaper)', 'https://en.wikipedia.org/wiki/Lists_of_dogs']"

In [5]:
urls = urls.replace('[','').replace(']','').replace('\'','').split(',')
urls

['https://en.wikipedia.org/wiki/Cattery',
 ' https://en.wikipedia.org/wiki/Indian_National_Kennel_Club',
 ' https://en.wikipedia.org/wiki/Breed_type_(dog)',
 ' https://en.wikipedia.org/wiki/Dog_World_(newspaper)',
 ' https://en.wikipedia.org/wiki/Lists_of_dogs']

In [6]:
scores = rows[0][5] 
scores

'[0.34, 0.3, 0.19, 0.15, 0.14]'

In [7]:
scores = scores.replace('[','').replace(']','').replace(' ','').split(',')
scores

['0.34', '0.3', '0.19', '0.15', '0.14']

In [8]:
new_rows = [(title,url,score) for title,url,score in zip(titles,urls,scores)]
new_rows[0]

('Cattery', 'https://en.wikipedia.org/wiki/Cattery', '0.34')

In [14]:
title = 'ethelbert'
rows = c.execute('SELECT * FROM Wikipedia WHERE title=?',[title]).fetchall()
if not rows:
    print('Error: title is not in database')

Error: title is not in database